// Navigation Styles here
.desktopWidth{
    display:flex;
    display:flex;
    width:100%;
    margin:auto;
    align-items:center;
    justify-content: space-between;
 
    margin-bottom:1%;
    .desktopPageSetup;

   
}
nav{
    widows: 100%;
    border-bottom:@border;
    margin-bottom:1%;
   
    H1{
        padding:3rem;

    }

        a{
            text-decoration:none;
            font-weight:bold;
            font-size:1.6rem;
            padding:3rem;
            
            color:black;
            &:hover{
                color:blue;
            }
    }

}

